.container {
  background-color: #673ab7;
  padding: 20px 50px;
  display: flex;
  flex-direction: row-reverse;
}

.creditos {
  color: #fff;
}

.fixarRodape {
  bottom: 0;
  position: fixed;
  width: 100%;
  text-align: center;
}
